<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Ceropath File Uploader</span>
        </div>
    </div>
</nav>
{{!-- <div class="banner"></div> --}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="head-title">Upload your files <small>csv only</small></h3>
            {{models-form}}
        </div>
    </div>
</div>